In [4]:
import pandas as pd
df2 = pd.read_csv('train.csv', encoding='big5')
df = pd.DataFrame(df2)
print('顯示後面幾列列資料')
print(df.tail())#顯示後面幾列資料
print('顯示列數與欄數')
print(df.shape)#顯示列數與欄數
print('顯示DataFrame')
print(df.info())#顯示DataFrame
print('顯示統計資訊')
print(df.describe())#顯示統計資訊
print('顯示前面幾列資料')
print(df.head())#顯示前面幾列資料
print('索引資訊')
print(df.index)#索引資訊
print('顯示欄位')
print(df.columns)#顯示欄欄位
print('df.T是將陣列轉置')
print(df.tail().T)#df.T是將陣列轉置transpose

顯示後面幾列列資料
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
顯示列數與欄數
(891, 12)
顯示DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
顯示統計資訊
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
顯示前面幾列資料
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
索引資訊
RangeIndex(start=0, stop=891, step=1)
顯示欄位
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
df.T是將陣列轉置
                               886                           887  \
PassengerId                    887                           888
Survived                         0                             1
Pclass                           2                             1
Name         Montvila, Rev. Juozas  Graham, Miss. Margaret Edith
Sex                           male                        female
Age                             27                            19
SibSp                            0                             0
Parch                            0                             0
Ticket                      211536                        112053
Fare                            13                            30
Cabin                          NaN                           B42
Embarked                         S                             S

                                                  888                    889  \
PassengerId                                       889                    890
Survived                                            0                      1
Pclass                                              3                      1
Name         Johnston, Miss. Catherine Helen "Carrie"  Behr, Mr. Karl Howell
Sex                                            female                   male
Age                                               NaN                     26
SibSp                                               1                      0
Parch                                               2                      0
Ticket                                     W./C. 6607                 111369
Fare                                            23.45                     30
Cabin                                             NaN                   C148
Embarked                                            S                      C

                             890
PassengerId                  891
Survived                       0
Pclass                         3
Name         Dooley, Mr. Patrick
Sex                         male
Age                           32
SibSp                          0
Parch                          0
Ticket                    370376
Fare                        7.75
Cabin                        NaN
Embarked                       Q